aio-pika
cryptography
fastapi
httpx
python-jose[cryptography]
psycopg[binary]
psycopg-pool
pydantic
email-validator
pydantic-settings
bcrypt
qrcode
Pillow
redis
starlette
uvicorn
boto3
python-multipart
geoip2
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-psycopg
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-botocore
